.headerContainer{
    width:100vw;
    display: flex;
    justify-content: center;

}

.headerContainer li{

    list-style: none;
}

.headerContainer ul{
    width: 100vw;
    display: flex;
    justify-content: space-around;
    padding:0;
}

.navlink{
    text-decoration: none;
}
